body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Poppins', sans-serif;
margin:0%;
}
h1{
    font-size:70px;
}
h2{
    font-size: 60px;
}
.first-header{
    color: #ff4500;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width:100%;
}
.first-section{
    background-image:url(top-banner.png);
    background-repeat: no-repeat;

}

.ancor{
    background-color: tomato;
    text-decoration:none;
    padding:15px 20px;
    font-weight: 700;
    color:rgb(207, 67, 16);
    font-size: 25px;
    border-radius:10px
}
.exper-item{
    box-shadow: 15px 15px 25px crimson;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
}
.darkorange {
    color:darkorange;
}
.ex-area{
   background-image:url(exp-bg.png);
   background-repeat: no-repeat;
   position: left;
}
#full-id{
    border-left:5px solid;
    border-image:linear-gradient(pink ,tomato);
    border-image-slice:1;
}
#front-id{
    border-left:5px solid; 
    border-image:linear-gradient(crimson ,tomato);
    border-image-slice:1;
}
.dream-big{
    background-image:url(dream-bg.png);
    background-repeat: no-repeat;
    background-position : right;
}